body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #faebd7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  /* this defines what 1 rem is */
  /* font-size: 62.5%; */
}
.header-primary {
  font-family: Roboto, Times New Roman, Times, serif;
  box-sizing: "border-box";

  height: 95vh;
  background-position: top;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-image: url("./images/header.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
  /* backgroundAttachment: "fixed", */
  /* padding: "30px", */
}

.nav-primary {
  display: flex;
  justify-content: center;
  margin: "0 auto";
  /* font-size: 10rem; */
}

li {
  list-style-type: none;
  display: inline-block;
  margin-top: 2%;
  margin: 10px;
  font-weight: 400;
  font-size: 1.2rem;
  color: black;
}
li:hover {
  transform: translateY(-3px);
}
.my-name {
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 10rem;
}

.pic {
  width: 300px;
  height: 300px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
}

.header-secondary {
  text-align: center;
}
h5 {
  margin-left: 20%;
  margin-right: 20%;
  font-weight: 600;
  padding: "20px";
  padding-top: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* width: {cardWidth} */
  margin: 2%;
  padding: 0.5%;
  min-width: 300px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #faebd7;
}
.line {
  list-style-type: none;
  text-align: center;
  color: black;
}

.img {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  text-align: center;
  margin: 0 auto;
}

.text {
  width: calc(100% - 200px);
  margin: 0 auto;
}

.list {
  padding: 0;
  text-align: center;
}

.nav-tabs {
  font-family: Roboto, Times New Roman, Times, serif;
}

.nav-item:hover {
  transform: translateY(-3px);
}

.nav-item:active {
  transform: translateY(-1px);
}

.about-text {
  font-family: Roboto, Times New Roman, Times, serif;
  text-align: center;
  background-color: #faebd7;
}

.about-text-box {
  padding: 2% 10% 2% 10%;
  font-size: 1.3rem;
}
